<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>ece356.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <servlet-class>ece356.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEmployeeServlet</servlet-name>
        <servlet-class>ece356.deleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/QueryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>ece356.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <url-pattern>/DeleteEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEmployeeServlet</servlet-name>
        <url-pattern>/deleteEmployeeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
